<div class="container">
  Les tâches a executer
  <div class="task-index">
    <ul>
      <%= render "index" %>
    </ul>
  </div>
  <div class="">
    <%= link_to "ajout+", new_task_path, remote: true, class: "btn btn-primary" %>
  </div>
</div>
<div id="task-modal" class="modal fade"></div>
