<div class="container">
  Les tâches a executer
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
      </li>
    <% end %>
  </ul>
  <div class="">
    <%= link_to "ajout+", new_task_path, remote: true, class: "btn btn-primary" %>
  </div>
</div>
