<div class="container padded">
  <div class="row">
    <div class="col-xs-6">
      <h3>Les tâches a executer</h3>
      <div class="task-index">
        <ul class="task-list">
          <%= render "index" %>
        </ul>
      </div>
      <div class="">
        <%= link_to "ajout+", new_task_path, remote: true, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div id="task-slide">
      </div>
    </div>
  </div>
</div>
